<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axcc.dao.BusinessDao">
  <resultMap id="BaseResultMap" type="com.axcc.model.Business">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="wait_num" jdbcType="INTEGER" property="waitNum" />
    <result column="buy_money" jdbcType="REAL" property="buyMoney" />
    <result column="buy_type" jdbcType="INTEGER" property="buyType" />
    <result column="buy_status" jdbcType="INTEGER" property="buyStatus" />
    <result column="check_status" jdbcType="INTEGER" property="checkStatus" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="money_apply_status" jdbcType="INTEGER" property="moneyApplyStatus" />
  </resultMap>
  <resultMap id="BusinessUserResultMap" type="com.axcc.model.BusinessUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="wait_num" jdbcType="INTEGER" property="waitNum" />
    <result column="buy_money" jdbcType="REAL" property="buyMoney" />
    <result column="buy_type" jdbcType="INTEGER" property="buyType" />
    <result column="buy_status" jdbcType="INTEGER" property="buyStatus" />
    <result column="check_status" jdbcType="INTEGER" property="checkStatus" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="card" jdbcType="VARCHAR" property="card" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="money_apply_status" jdbcType="INTEGER" property="moneyApplyStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, agent_id, admin_id, wait_num, buy_money, buy_type, buy_status, check_status, 
    check_time, pay_time, apply_time,is_delete,money_apply_status
  </sql>
  <sql id="Business_User_Column_List">
    id, user_id, agent_id, admin_id, wait_num, buy_money, buy_type, buy_status, check_status,
    check_time, pay_time, apply_time,is_delete, login_name, user_name,card,money_apply_status
  </sql>
  <select id="getBusinessById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from business
    where id = #{id,jdbcType=INTEGER} and is_delete = 0
  </select>
  <!-- 根据交易的ID号查看对应的用户及交易信息 -->
  <select id="getBusinessUserById" parameterType="java.lang.Integer" resultMap="BusinessUserResultMap">
    select
    A.id, A.user_id, A.agent_id, A.admin_id, A.wait_num, A.buy_money, A.buy_type, A.buy_status, A.check_status,
    A.check_time, A.pay_time, A.apply_time, A.is_delete, B.login_name, B.user_name, B.card, B.parent_id
    from business A inner join users B on A.user_id = B.id
    where A.id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 根据用户ID获取用户最新交易的信息 -->
  <select id="getBusinessUsersByUserId" parameterType="java.lang.Integer" resultMap="BusinessUserResultMap">
    SELECT
    A.id,A.user_id, A.agent_id, A.admin_id, A.wait_num, A.buy_money, A.buy_type, A.buy_status, A.check_status,
    A.check_time, A.pay_time, A.apply_time, A.is_delete, B.login_name, B.user_name, B.card, B.parent_id
     from business A right join users B on A.user_id = B.id
    where A.user_id = #{userId,jdbcType=INTEGER} and A.is_delete = 0 and A.buy_status != 2 ORDER BY A.apply_time DESC LIMIT 1
  </select>
  <!-- 统计已出车的总量 -->
  <select id="getBuyStatusCount" resultType="java.lang.Integer">
    SELECT
    IF (SUM(CASE WHEN b.buy_status = '2' THEN 1 ELSE 0 END) IS NULL, 0, SUM(CASE WHEN b.buy_status = '2' THEN 1 ELSE 0 END)) total
    from business b
  </select>
  <select id="getBusinessByBean" parameterType="com.axcc.model.Business" resultMap="BaseResultMap">
    select
    id, user_id, agent_id, admin_id, wait_num, buy_money, buy_type, buy_status, check_status,
    check_time, pay_time, apply_time, is_delete, money_apply_status
    from business
    <where>
      is_delete = 0
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}ss
      </if>
      <if test="agentId != null">
        and agent_id = #{agentId,jdbcType=INTEGER}
      </if>
      <if test="adminId != null">
        and admin_id = #{adminId,jdbcType=INTEGER}
      </if>
      <if test="waitNum != null">
        and wait_num = #{waitNum,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        and buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="buyType != null">
        and buy_type = #{buyType,jdbcType=INTEGER}
      </if>
      <if test="buyStatus != null">
        and buy_status = #{buyStatus,jdbcType=INTEGER}
      </if>
      <if test="checkStatus != null">
        and check_status = #{checkStatus,jdbcType=INTEGER}
      </if>
      <if test="checkTime != null">
        and check_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        and apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="moneyApplyStatus != null">
        and money_apply_status = #{moneyApplyStatus,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="getBusinessUserByBean" parameterType="com.axcc.model.BusinessUser" resultMap="BusinessUserResultMap">
    select
    A.id, A.user_id, A.agent_id, A.admin_id, A.wait_num, A.buy_money, A.buy_type, A.buy_status, A.check_status,
    A.check_time, A.pay_time, A.apply_time, A.is_delete, B.login_name, B.user_name, B.card, B.parent_id
    from business A inner join users B on A.user_id = B.id
    <where>
      B.is_delete = 0 and A.is_delete = 0
      <if test="userId != null">
        and A.user_id = #{userId,jdbcType=INTEGER}ss
      </if>
      <if test="agentId != null">
        and A.agent_id = #{agentId,jdbcType=INTEGER}
      </if>
      <if test="adminId != null">
        and A.admin_id = #{adminId,jdbcType=INTEGER}
      </if>
      <if test="waitNum != null">
        and A.wait_num = #{waitNum,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        and A.buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="buyType != null">
        and A.buy_type = #{buyType,jdbcType=INTEGER}
      </if>
      <if test="buyStatus != null">
        and A.buy_status = #{buyStatus,jdbcType=INTEGER}
      </if>
      <if test="checkStatus != null">
        and A.check_status = #{checkStatus,jdbcType=INTEGER}
      </if>
      <if test="checkTime != null">
        and A.check_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and A.pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        and A.apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="moneyApplyStatus != null">
        and money_apply_status = #{moneyApplyStatus,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="listBusinessByBean" parameterType="com.axcc.model.Business" resultMap="BaseResultMap">
    select
    id, user_id, agent_id, admin_id, wait_num, buy_money, buy_type, buy_status, check_status,
    check_time, pay_time, apply_time, is_delete, money_apply_status
    from business
    <where>
      is_delete = 0
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="agentId != null">
        and agent_id = #{agentId,jdbcType=INTEGER}
      </if>
      <if test="adminId != null">
        and admin_id = #{adminId,jdbcType=INTEGER}
      </if>
      <if test="waitNum != null">
        and wait_num = #{waitNum,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        and buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="buyType != null">
        and buy_type = #{buyType,jdbcType=INTEGER}
      </if>
      <if test="buyStatus != null">
        and buy_status = #{buyStatus,jdbcType=INTEGER}
      </if>
      <if test="checkStatus != null">
        and check_status = #{checkStatus,jdbcType=INTEGER}
      </if>
      <if test="checkTime != null">
        and check_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        and apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="moneyApplyStatus != null">
        and money_apply_status = #{moneyApplyStatus,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="listApplyUserByBean" parameterType="com.axcc.model.BusinessUser" resultMap="BusinessUserResultMap">
    select
      A.id, A.user_id, A.agent_id, A.admin_id, A.wait_num, A.buy_money, A.buy_type, A.buy_status, A.check_status,
      A.check_time, A.pay_time, A.apply_time, A.is_delete, B.login_name, B.user_name, B.card, B.parent_id
    from business A inner join users B on A.user_id = B.id
    <where>
      B.is_delete = 0 and A.is_delete = 0 and A.check_status in (0,1,2) and A.buy_status != 2
      <if test="loginName != null">
        and B.login_name = #{loginName,jdbcType=VARCHAR}
      </if>
    </where>
    order by A.check_status
  </select>
  <select id="listBusinessUserByBean" parameterType="com.axcc.model.BusinessUser" resultMap="BusinessUserResultMap">
    select
    A.id, A.user_id, A.agent_id, A.admin_id, A.wait_num, A.buy_money, A.buy_type, A.buy_status, A.check_status,
    A.check_time, A.pay_time, A.apply_time, A.is_delete, B.login_name, B.user_name, B.card, B.parent_id
    from business A inner join users B on A.user_id = B.id
    <where>
      B.is_delete = 0 and A.is_delete = 0
      <if test="userId != null">
        and A.user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="agentId != null">
        and A.agent_id = #{agentId,jdbcType=INTEGER}
      </if>
      <if test="adminId != null">
        and A.admin_id = #{adminId,jdbcType=INTEGER}
      </if>
      <if test="waitNum != null">
        and A.wait_num = #{waitNum,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        and A.buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="buyType != null">
        and A.buy_type = #{buyType,jdbcType=INTEGER}
      </if>
      <if test="buyStatus != null">
        and A.buy_status = #{buyStatus,jdbcType=INTEGER}
      </if>
      <if test="checkStatus != null">
        and A.check_status = #{checkStatus,jdbcType=INTEGER}
      </if>
      <if test="checkTime != null">
        and A.check_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and A.pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        and A.apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="loginName != null">
        and B.login_name = #{loginName,jdbcType=VARCHAR}
      </if>
      <if test="moneyApplyStatus != null">
        and A.money_apply_status = #{moneyApplyStatus,jdbcType=INTEGER}
      </if>
    </where>
    order by A.wait_num
  </select>
  <select id="listBusinessUser" parameterType="com.axcc.model.BusinessUser" resultMap="BusinessUserResultMap">
    select
    A.id, A.user_id, A.agent_id, A.admin_id, A.wait_num, A.buy_money, A.buy_type, A.buy_status, A.check_status,
    A.check_time, A.pay_time, A.apply_time, A.is_delete, B.login_name, B.user_name, B.card, B.parent_id
    from business A inner join users B on A.user_id = B.id
    <where>
      B.is_delete = 0 and A.is_delete = 0 and A.buy_status != 0 and A.check_status = 2
      <if test="buyType != null">
        and A.buy_type = #{buyType,jdbcType=INTEGER}
      </if>
    </where>
    order by A.wait_num
  </select>
  <select id="listAllUserByBean" parameterType="com.axcc.model.BusinessUser" resultType="Map">
    select U.id uId, U.login_name loginName, U.user_name userName, U.card, U.parent_id parentId,
      U.bank_card,U.bank_addr,B4.*
    from users U
    left join (
        SELECT B3.id, B3.user_id userId, B3.agent_id agentId, B3.admin_id adminId,B3.is_delete isDelete,
        B3.wait_num waitNum, B3.buy_money buyMoney, B3.buy_type buyType,B3.buy_status buyStatus,
        B3.check_status checkStatus, B3.check_time checkTime, B3.pay_time payTime, B3.apply_time applyTime
        FROM business  B3
        INNER JOIN (
            SELECT max(B.apply_time) apply_time, B.user_id
            FROM business B
            WHERE B.is_delete = 0
            GROUP BY B.user_id
            ) B2
        WHERE B3.apply_time = B2.apply_time
        ) B4
    on U.id  = B4.userId
    <where>
      U.user_role = 2 and  U.is_delete = 0
      <if test="userId != null">
        and B4.user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="agentId != null">
        and B4.agent_id = #{agentId,jdbcType=INTEGER}
      </if>
      <if test="adminId != null">
        and B4.admin_id = #{adminId,jdbcType=INTEGER}
      </if>
      <if test="waitNum != null">
        and B4.wait_num = #{waitNum,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        and B4.buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="buyType != null">
        and B4.buy_type = #{buyType,jdbcType=INTEGER}
      </if>
      <if test="buyStatus != null">
        and B4.buy_status = #{buyStatus,jdbcType=INTEGER}
      </if>
      <if test="checkStatus != null">
        and B4.check_status = #{checkStatus,jdbcType=INTEGER}
      </if>
      <if test="checkTime != null">
        and B4.check_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and B4.pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        and B4.apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="loginName != null">
        and U.login_name = #{loginName,jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY B4.applyTime DESC
  </select>
  <select id="listBusinessByAgent" parameterType="com.axcc.model.BusinessUser" resultMap="BusinessUserResultMap">
    select B.login_name, B.user_name, B.card, B.parent_id,
    A.id, A.user_id, A.agent_id, A.admin_id, A.wait_num, A.buy_money, A.buy_type,
    A.buy_status, A.check_status, A.check_time, A.pay_time, A.apply_time, A.is_delete
    from users B inner join business A on B.id = A.user_id
    <where>
      B.is_delete = 0 and A.is_delete = 0
      <if test="agentId != null">
        and A.agent_id = #{agentId,jdbcType=INTEGER}
      </if>
      <if test="loginName != null">
        and B.login_name LIKE CONCAT('%',#{loginName,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
  <select id="countBusinessByBean" parameterType="com.axcc.model.Business" resultType="java.lang.Integer">
    select count(id) from business
    <where>
      is_delete = 0
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="agentId != null">
        and agent_id = #{agentId,jdbcType=INTEGER}
      </if>
      <if test="adminId != null">
        and admin_id = #{adminId,jdbcType=INTEGER}
      </if>
      <if test="waitNum != null">
        and wait_num = #{waitNum,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        and buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="buyType != null">
        and buy_type = #{buyType,jdbcType=INTEGER}
      </if>
      <if test="buyStatus != null">
        and buy_status = #{buyStatus,jdbcType=INTEGER}
      </if>
      <if test="checkStatus != null">
        and check_status = #{checkStatus,jdbcType=INTEGER}
      </if>
      <if test="checkTime != null">
        and check_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        and apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="moneyApplyStatus != null">
        and money_apply_status = #{moneyApplyStatus,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="countApplyUserByBean" parameterType="com.axcc.model.BusinessUser" resultType="java.lang.Integer">
    select count(A.id) from business A inner join users B on A.user_id = B.id
    <where>
      B.is_delete = 0 and A.is_delete = 0
      and A.check_status in (0,1,2)
      <if test="loginName != null">
        and B.login_name = #{loginName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="countBusinessUserWaitOrOut" parameterType="com.axcc.model.BusinessUser" resultType="java.lang.Integer">
  select count(A.id) from business A inner join users B on A.user_id = B.id
    <where>
      B.is_delete = 0 and A.is_delete = 0 and A.buy_status != 0
      <if test="buyType != null">
          and A.buy_type = #{buyType,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="countBusinessUserByBean" parameterType="com.axcc.model.BusinessUser" resultType="java.lang.Integer">
    select count(A.id) from business A inner join users B on A.user_id = B.id
    <where>
      B.is_delete = 0 and A.is_delete = 0
      <if test="userId != null">
        and A.user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="agentId != null">
        and A.agent_id = #{agentId,jdbcType=INTEGER}
      </if>
      <if test="adminId != null">
        and A.admin_id = #{adminId,jdbcType=INTEGER}
      </if>
      <if test="waitNum != null">
        and A.wait_num = #{waitNum,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        and A.buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="buyType != null">
        and A.buy_type = #{buyType,jdbcType=INTEGER}
      </if>
      <if test="buyStatus != null">
        and A.buy_status = #{buyStatus,jdbcType=INTEGER}
      </if>
      <if test="checkStatus != null">
        and A.check_status = #{checkStatus,jdbcType=INTEGER}
      </if>
      <if test="checkTime != null">
        and A.check_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and A.pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        and A.apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="loginName != null">
        and B.login_name = #{loginName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="countAllUserList" parameterType="com.axcc.model.BusinessUser" resultType="java.lang.Integer">
    select count(U.id)
    from users U
    left join (
        SELECT B3.id, B3.user_id
        FROM business  B3
        INNER JOIN (
            SELECT max(B.apply_time) apply_time, B.user_id
            FROM business B
            WHERE B.is_delete = 0
            GROUP BY B.user_id
            ) B2
        WHERE B3.apply_time = B2.apply_time
        ) B4
    on U.id  = B4.user_id
    <where>
      U.user_role = 2 and  U.is_delete = 0
      <if test="userId != null">
        and B4.user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="agentId != null">
        and B4.agent_id = #{agentId,jdbcType=INTEGER}
      </if>
      <if test="adminId != null">
        and B4.admin_id = #{adminId,jdbcType=INTEGER}
      </if>
      <if test="waitNum != null">
        and B4.wait_num = #{waitNum,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        and B4.buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="buyType != null">
        and B4.buy_type = #{buyType,jdbcType=INTEGER}
      </if>
      <if test="buyStatus != null">
        and B4.buy_status = #{buyStatus,jdbcType=INTEGER}
      </if>
      <if test="checkStatus != null">
        and B4.check_status = #{checkStatus,jdbcType=INTEGER}
      </if>
      <if test="checkTime != null">
        and B4.check_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and B4.pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        and B4.apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="loginName != null">
        and U.login_name = #{loginName,jdbcType=VARCHAR}
      </if>
      <if test="moneyApplyStatus != null">
        and B3.money_apply_status = #{moneyApplyStatus,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="countBusinessByAgent" parameterType="com.axcc.model.BusinessUser" resultType="java.lang.Integer">
    select count(A.id) from business A inner join users B on A.user_id = B.id
    <where>
      B.is_delete = 0 and A.is_delete = 0
      <if test="agentId != null">
        and A.agent_id = #{agentId,jdbcType=INTEGER}
      </if>
      <if test="loginName != null">
        and B.login_name LIKE CONCAT('%',#{loginName,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
  <!-- 逻辑删除 -->
  <update id="deleteByUserId" parameterType="java.lang.Integer">
    update business
    set is_delete = 1
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateBusinessForBean" parameterType="com.axcc.model.Business">
    update business
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="agentId != null">
        agent_id = #{agentId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="waitNum != null">
        wait_num = #{waitNum,jdbcType=INTEGER},
      </if>
      <if test="buyMoney != null">
        buy_money = #{buyMoney,jdbcType=REAL},
      </if>
      <if test="buyType != null">
        buy_type = #{buyType,jdbcType=INTEGER},
      </if>
      <if test="buyStatus != null">
        buy_status = #{buyStatus,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="moneyApplyStatus != null">
        money_apply_status = #{moneyApplyStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBusinessForBean" parameterType="com.axcc.model.Business">
    insert into business (id, user_id, agent_id,
      admin_id, wait_num, buy_money,
      buy_type, buy_status, check_status,
      check_time, pay_time, apply_time,is_delete,money_apply_status
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{agentId,jdbcType=INTEGER},
      #{adminId,jdbcType=INTEGER}, #{waitNum,jdbcType=INTEGER}, #{buyMoney,jdbcType=REAL},
      #{buyType,jdbcType=INTEGER}, #{buyStatus,jdbcType=INTEGER}, #{checkStatus,jdbcType=INTEGER},
      #{checkTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, #{applyTime,jdbcType=TIMESTAMP},
      #{isDelete,jdbcType=INTEGER}, #{moneyApplyStatus,jdbcType=INTEGER})
  </insert>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from business
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from business
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.axcc.model.Business">
    insert into business (id, user_id, agent_id, 
      admin_id, wait_num, buy_money, 
      buy_type, buy_status, check_status, 
      check_time, pay_time, apply_time,is_delete,money_apply_status
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{agentId,jdbcType=INTEGER}, 
      #{adminId,jdbcType=INTEGER}, #{waitNum,jdbcType=INTEGER}, #{buyMoney,jdbcType=REAL}, 
      #{buyType,jdbcType=INTEGER}, #{buyStatus,jdbcType=INTEGER}, #{checkStatus,jdbcType=INTEGER}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, #{applyTime,jdbcType=TIMESTAMP},
      #{isDelete,jdbcType=INTEGER}, #{moneyApplyStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.axcc.model.Business">
    insert into business
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="agentId != null">
        agent_id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="waitNum != null">
        wait_num,
      </if>
      <if test="buyMoney != null">
        buy_money,
      </if>
      <if test="buyType != null">
        buy_type,
      </if>
      <if test="buyStatus != null">
        buy_status,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="moneyApplyStatus != null">
        money_apply_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="agentId != null">
        #{agentId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="waitNum != null">
        #{waitNum,jdbcType=INTEGER},
      </if>
      <if test="buyMoney != null">
        #{buyMoney,jdbcType=REAL},
      </if>
      <if test="buyType != null">
        #{buyType,jdbcType=INTEGER},
      </if>
      <if test="buyStatus != null">
        #{buyStatus,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="moneyApplyStatus != null">
        #{moneyApplyStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.axcc.model.Business">
    update business
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="agentId != null">
        agent_id = #{agentId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="waitNum != null">
        wait_num = #{waitNum,jdbcType=INTEGER},
      </if>
      <if test="buyMoney != null">
        buy_money = #{buyMoney,jdbcType=REAL},
      </if>
      <if test="buyType != null">
        buy_type = #{buyType,jdbcType=INTEGER},
      </if>
      <if test="buyStatus != null">
        buy_status = #{buyStatus,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TIMESTAMP},
      </if>
      <if test="moneyApplyStatus != null">
        money_apply_status = #{moneyApplyStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.axcc.model.Business">
    update business
    set user_id = #{userId,jdbcType=INTEGER},
      agent_id = #{agentId,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      wait_num = #{waitNum,jdbcType=INTEGER},
      buy_money = #{buyMoney,jdbcType=REAL},
      buy_type = #{buyType,jdbcType=INTEGER},
      buy_status = #{buyStatus,jdbcType=INTEGER},
      check_status = #{checkStatus,jdbcType=INTEGER},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      money_apply_status = #{moneyApplyStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>