<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axcc.dao.UsersRelateDao">
  <resultMap id="BaseResultMap" type="com.axcc.model.UsersRelate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="buy_money" jdbcType="REAL" property="buyMoney" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="apply_status" jdbcType="INTEGER" property="applyStatus" />
    <result column="original" jdbcType="VARCHAR" property="original" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="child_id" jdbcType="INTEGER" property="childId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, buy_money, check_time, apply_time, pay_time, apply_status, original, level, description, child_id
  </sql>
  <select id="getUserRelateById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from users_relate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getUserRelateByBean" parameterType="com.axcc.model.UsersRelate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from users_relate
    <where>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        and buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="checkTime != null">
        and apply_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        and apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyStatus != null">
        and apply_status = #{applyStatus,jdbcType=INTEGER}
      </if>
      <if test="level != null">
        and level = #{level,jdbcType=INTEGER}
      </if>
      <if test="original != null">
        and original = #{original,jdbcType=VARCHAR}
      </if>
      <if test="description != null">
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="childId != null">
        and child_id = #{childId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="countUserRelateByBean" parameterType="com.axcc.model.UsersRelate" resultType="java.lang.Integer">
    select count(id) from users
    <where>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        and buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="checkTime != null">
        and apply_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        and apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyStatus != null">
        and apply_status = #{applyStatus,jdbcType=INTEGER}
      </if>
      <if test="level != null">
        and level = #{level,jdbcType=INTEGER}
      </if>
      <if test="original != null">
        and original = #{original,jdbcType=VARCHAR}
      </if>
      <if test="description != null">
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="childId != null">
        and child_id = #{childId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="listUserRelateByBean" parameterType="com.axcc.model.UsersRelate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from users_relate
    <where>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        and buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="checkTime != null">
        and apply_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        and apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        and pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyStatus != null">
        and apply_status = #{applyStatus,jdbcType=INTEGER}
      </if>
      <if test="level != null">
        and level = #{level,jdbcType=INTEGER}
      </if>
      <if test="original != null">
        and original = #{original,jdbcType=VARCHAR}
      </if>
      <if test="description != null">
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="childId != null">
        and child_id = #{childId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <update id="updateUserRelateForBean" parameterType="com.axcc.model.UsersRelate">
    update users_relate
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="buyMoney != null">
        buy_money = #{buyMoney,jdbcType=REAL}
      </if>
      <if test="checkTime != null">
        apply_time = #{checkTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP}
      </if>
      <if test="applyStatus != null">
        apply_status = #{applyStatus,jdbcType=INTEGER}
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER}
      </if>
      <if test="original != null">
        original = #{original,jdbcType=VARCHAR}
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="childId != null">
        child_id = #{childId,jdbcType=INTEGER}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.axcc.model.UsersRelate">
    insert into users_relate (id, user_id, buy_money, check_time, apply_time, pay_time, apply_status, level, child_id, original, description)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{buyMoney,jdbcType=REAL},
      #{checkTime,jdbcType=TIMESTAMP}, #{applyTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP},
      #{apply_status,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{childId,jdbcType=INTEGER}, #{original,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertUserRelateForBean" parameterType="com.axcc.model.UsersRelate" keyProperty="id" useGeneratedKeys="true">
    insert into users_relate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="buyMoney != null">
        buy_money,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="applyStatus != null">
        apply_status,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="childId != null">
        child_id,
      </if>
      <if test="original != null">
        original,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="buyMoney != null">
        #{buyMoney,jdbcType=REAL},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="childId != null">
        #{childId,jdbcType=INTEGER},
      </if>
      <if test="original != null">
        #{original,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="listShareMoney" parameterType="java.lang.Integer" resultType="Map">
    SELECT
      B.user_name userName,
      B.login_name loginName,
      CASE A.`level` WHEN 1 THEN A.buy_money*0.05 ELSE A.buy_money*0.03 END buyMoney,
      DATE_FORMAT(
          A.check_time,
          '%Y-%m-%d %H:%i:%s'
      ) checkTime,
      A.`level` level,
      A.apply_status applyStatus
    FROM
	  users_relate A
    INNER JOIN users B ON A.user_id = B.id
    WHERE A.`level` in (1,2) AND A.user_id = #{userId,jdbcType=INTEGER}
    ORDER BY
      A.apply_status ASC,
      A.check_time DESC
  </select>
  <select id="countShareMoney" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT
    count(1)
    FROM
	  users_relate A
    INNER JOIN users B ON A.user_id = B.id
    WHERE A.`level` in (1,2) AND A.user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="countLeve1" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT
    count(1)
    FROM
	  users_relate A
    INNER JOIN users B ON A.user_id = B.id
    WHERE A.`level` = 1 AND A.apply_status = 0 AND A.user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="sumShareMoney" parameterType="java.lang.Integer" resultType="Map">
    SELECT IF (SUM(
		CASE A.`level`
		WHEN 1 THEN
			A.buy_money * 0.05
		ELSE
			A.buy_money * 0.03
		END
	) IS NULL, 0, SUM(
		CASE A.`level`
		WHEN 1 THEN
			A.buy_money * 0.05
		ELSE
			A.buy_money * 0.03
		END
	)) sumMoney
    FROM users_relate A
    WHERE A.`level` in (1,2) AND A.apply_status = 0 AND A.user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="listMyMember" parameterType="java.lang.Integer" resultType="Map">
    SELECT
      B.user_name userName,
      B.login_name loginName,
      DATE_FORMAT(
          A.check_time,
          '%Y-%m-%d %H:%i:%s'
      ) checkTime,
      A.`level` level
    FROM
	  users_relate A
    INNER JOIN users B ON A.child_id = B.id
    WHERE A.user_id = #{userId,jdbcType=INTEGER}
    ORDER BY
      A.apply_status ASC,
      A.check_time DESC
  </select>
</mapper>