<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axcc.dao.VoucherDao">
  <resultMap id="BaseResultMap" type="com.axcc.model.Voucher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="voucher_money" jdbcType="REAL" property="voucherMoney" />
    <result column="voucher_status" jdbcType="INTEGER" property="voucherStatus" />
    <result column="voucher_time" jdbcType="TIMESTAMP" property="voucherTime" />
    <result column="voucher_finish" jdbcType="TIMESTAMP" property="voucherFinish" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, voucher_money, voucher_status, voucher_time, voucher_finish, description, is_delete
  </sql>
  <select id="getVoucherById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from voucher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getVoucherByBean" parameterType="com.axcc.model.Voucher" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from voucher
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="voucherMoney != null">
        and voucher_money = #{voucherMoney,jdbcType=REAL}
      </if>
      <if test="voucherStatus != null">
        and voucher_status = #{voucherStatus,jdbcType=INTEGER}
      </if>
      <if test="voucherTime != null">
        and voucher_time = #{voucherTime,jdbcType=TIMESTAMP}
      </if>
      <if test="voucherFinish != null">
        and voucher_finish = #{voucherFinish,jdbcType=TIMESTAMP}
      </if>
      <if test="description != null">
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
        and is_delete = #{isDelete,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="listVoucherByBean" parameterType="com.axcc.model.Voucher" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from voucher
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="voucherMoney != null">
        and voucher_money = #{voucherMoney,jdbcType=REAL}
      </if>
      <if test="voucherStatus != null">
        and voucher_status = #{voucherStatus,jdbcType=INTEGER}
      </if>
      <if test="voucherTime != null">
        and voucher_time = #{voucherTime,jdbcType=TIMESTAMP}
      </if>
      <if test="voucherFinish != null">
        and voucher_finish = #{voucherFinish,jdbcType=TIMESTAMP}
      </if>
      <if test="description != null">
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
        and is_delete = #{isDelete,jdbcType=INTEGER}
      </if>
    </where>
    order by voucher_status
  </select>
  <select id="countVoucherByBean" parameterType="com.axcc.model.Voucher" resultType="java.lang.Integer">
    select  count(id) from voucher
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="voucherMoney != null">
        and voucher_money = #{voucherMoney,jdbcType=REAL}
      </if>
      <if test="voucherStatus != null">
        and voucher_status = #{voucherStatus,jdbcType=INTEGER}
      </if>
      <if test="voucherTime != null">
        and voucher_time = #{voucherTime,jdbcType=TIMESTAMP}
      </if>
      <if test="voucherFinish != null">
        and voucher_finish = #{voucherFinish,jdbcType=TIMESTAMP}
      </if>
      <if test="description != null">
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null">
        and is_delete = #{isDelete,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <insert id="insertVoucherByBean" parameterType="com.axcc.model.Voucher">
    insert into voucher (id, user_id, voucher_money,
      voucher_status, voucher_time, voucher_finish,
      description,is_delete)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{voucherMoney,jdbcType=REAL},
      #{voucherStatus,jdbcType=INTEGER}, #{voucherTime,jdbcType=TIMESTAMP}, #{voucherFinish,jdbcType=TIMESTAMP},
      #{description,jdbcType=VARCHAR},#{isDelete,jdbcType=INTEGER})
  </insert>
  <update id="updateVoucherByBean" parameterType="com.axcc.model.Voucher">
    update voucher
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="voucherMoney != null">
        voucher_money = #{voucherMoney,jdbcType=REAL},
      </if>
      <if test="voucherStatus != null">
        voucher_status = #{voucherStatus,jdbcType=INTEGER},
      </if>
      <if test="voucherTime != null">
        voucher_time = #{voucherTime,jdbcType=TIMESTAMP},
      </if>
      <if test="voucherFinish != null">
        voucher_finish = #{voucherFinish,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- ==================================================================================== -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from voucher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from voucher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.axcc.model.Voucher">
    insert into voucher (id, user_id, voucher_money, 
      voucher_status, voucher_time, voucher_finish, 
      description, is_delete)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{voucherMoney,jdbcType=REAL}, 
      #{voucherStatus,jdbcType=INTEGER}, #{voucherTime,jdbcType=TIMESTAMP}, #{voucherFinish,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR},#{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.axcc.model.Voucher">
    insert into voucher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="voucherMoney != null">
        voucher_money,
      </if>
      <if test="voucherStatus != null">
        voucher_status,
      </if>
      <if test="voucherTime != null">
        voucher_time,
      </if>
      <if test="voucherFinish != null">
        voucher_finish,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="voucherMoney != null">
        #{voucherMoney,jdbcType=REAL},
      </if>
      <if test="voucherStatus != null">
        #{voucherStatus,jdbcType=INTEGER},
      </if>
      <if test="voucherTime != null">
        #{voucherTime,jdbcType=TIMESTAMP},
      </if>
      <if test="voucherFinish != null">
        #{voucherFinish,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.axcc.model.Voucher">
    update voucher
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="voucherMoney != null">
        voucher_money = #{voucherMoney,jdbcType=REAL},
      </if>
      <if test="voucherStatus != null">
        voucher_status = #{voucherStatus,jdbcType=INTEGER},
      </if>
      <if test="voucherTime != null">
        voucher_time = #{voucherTime,jdbcType=TIMESTAMP},
      </if>
      <if test="voucherFinish != null">
        voucher_finish = #{voucherFinish,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.axcc.model.Voucher">
    update voucher
    set user_id = #{userId,jdbcType=INTEGER},
      voucher_money = #{voucherMoney,jdbcType=REAL},
      voucher_status = #{voucherStatus,jdbcType=INTEGER},
      voucher_time = #{voucherTime,jdbcType=TIMESTAMP},
      voucher_finish = #{voucherFinish,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>